body {
    background-color: #FAF2FF;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    color: #2D2730;
}

.icon {
    transform: translate(-50%, -50%);
    display: inline-block !important;
    background-size: cover;
    position: absolute;
    width: 66px;
    height: 66px;
    top: 50%;
    left: 50%;
}

.icon_check {
    background-image: url(../assets/icons/check.svg);
}

.icon_15 {
    width: 15px;
    height: 15px;
}

.logo {
    height: 2rem;
    cursor: pointer;
    margin: 1.5rem 0;
}

.content_brand {
    width: 20%;
    border-right: 2px solid #CCCCCC
}

.content_menu {
    width: 20%;
    border-right: 2px solid #CCCCCC
}

.content_title, .content_body {
    width: 80%;
}

.line_bottom {
    /* border-right: 2px solid #CCCCCC; */
    border-bottom: 2px solid #CCCCCC
}

hr .divider_menu {
    height: 2px;
    border: 2px solid #CCCCCC
}

ul {
    list-style: none;
    margin: 0.5rem 0 1.5rem 1rem;
    padding-left: 0rem;
}

ul li {
    padding: 0.5rem 0;
}

ul li a {
    color: unset;
    text-decoration: none;
}

ul li a:hover {
    color: unset;
}

ul li:hover {
    background-color: #eeeeee;
}

.side_menu {
    font-size: 32px;
    cursor: pointer;
    margin-right: 10px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #faf2ff;
    overflow-x: hidden;
    transition: ease 0.5s;
    -webkit-box-shadow: 0px 0px 20px -10px rgba(31, 26, 33, 0.5);
    -moz-box-shadow: 0px 0px 20px -10px rgba(31, 26, 33, 0.5);
    box-shadow: 0px 0px 20px -10px rgba(31, 26, 33, 0.5);
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #706D72;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #2D2730;
}

.content_logo_side_nav {
    position: fixed;
    width: 250px;
    background-color: #FAF2FF;
    border-bottom: 2px solid #CCCCCC;
    z-index: 1001;
    overflow: hidden;
    -webkit-box-shadow: -20px -10px 20px 5px rgba(31, 26, 33, 0.5);
    -moz-box-shadow: -20px -10px 20px 5px rgba(31, 26, 33, 0.5);
    box-shadow: -20px -10px 20px 5px rgba(31, 26, 33, 0.5);
}

.divider_logo_content_list_menu {
    margin-top: 7.5rem;
}

.sidenav .closebtn {   
    font-size: 3rem;
}

.credits {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.progressbar {
    counter-reset: step;
    width: 100%;
    margin: 0;
}

.progressbar li {
    list-style-type: none;
    width: 20%;
    float: left;
    position: relative;
    text-align: center;
    color: #2d273040;
}

.progressbar_2 li {
    width: 25%;
}

.progressbar li:hover {
    background-color: transparent;
}

.progressbar li:hover::before {
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    transform: scale(1.25);
    -webkit-box-shadow: 0px 0px 20px -10px rgba(31, 26, 33, 0.5);
    -moz-box-shadow: 0px 0px 20px -10px rgba(31, 26, 33, 0.5);
    box-shadow: 0px 0px 20px -10px rgba(31, 26, 33, 0.5);
}

.progressbar li:before {
    width: 35px;
    height: 35px;
    content: counter(step);
    counter-increment: step;
    line-height: 30px;
    border: 1px solid #2d273040;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: #FAF2FF;
    transition: all 0.10s;
    -webkit-box-shadow: 0px 0px 20px -10px rgba(31, 26, 33, 0.5);
    -moz-box-shadow: 0px 0px 20px -10px rgba(31, 26, 33, 0.5);
    box-shadow: 0px 0px 20px -10px rgba(31, 26, 33, 0.5);
}

.progressbar li:after {
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    background-color: #2d273040;
    top: 25px;
    left: -50%;
    z-index: -1;
}

.progressbar li:first-child:after {
    content: none;
}

.progressbar li.active {
    color: #2D2730;
}

.progressbar li.active:before {
    border-color: #2D2730;
}

.progressbar li.active {
    color: #2D2730;
}

.question::before {
    display: block;
    content: "";
    width: 30px;
    height: 30px;
    background-color: #2D2730;
}

.item_check {
    position: relative;
    width: 35px;
    height: 35px;
    text-align: center;
    border-radius: 50%;
    background-color: #9C10A7;
    -webkit-box-shadow: 0px 0px 20px -10px rgba(31, 26, 33, 0.5);
    -moz-box-shadow: 0px 0px 20px -10px rgba(31, 26, 33, 0.5);
    box-shadow: 0px 0px 20px -10px rgba(31, 26, 33, 0.5);   
}
.item_check::before {
    color: #fff;
    margin: auto
}

.card-title {
    background-color: #706D72
}

.card_link {
    cursor: pointer;
    transition: all 0.10s;
    border-width: 0;
    -webkit-box-shadow: 0px 0px 20px -10px rgba(31, 26, 33, 0.5);
    -moz-box-shadow: 0px 0px 20px -10px rgba(31, 26, 33, 0.5);
    box-shadow: 0px 0px 20px -10px rgba(31, 26, 33, 0.5);
}

.card_link:hover {
    transition: all 0.25s ease-in-out;
    transform: scale(0.975);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}


@media (min-width: 1400px) {
    .content_brand, .content_menu {
        width: 15%;
    }
    .content_title, .content_body {
        width: 85%;
    }
}

@media (max-width: 1200px) {
    .content_brand, .content_menu {
        width: 30%;
    }
    .content_title, .content_body {
        width: 70%;
    }
}

@media (max-width: 768px) {
    .content_body {
        width: 100%;
        margin-top: 3.5rem;
    }
    .content_title {
        position: fixed;
        width: 100%;
        z-index: 999;
        background-color: #FAF2FF;
        border: 2px solid #CCCCCC;
        -webkit-box-shadow: 0px 0px 20px -10px rgba(31, 26, 33, 0.5);
        -moz-box-shadow: 0px 0px 20px -10px rgba(31, 26, 33, 0.5);
        box-shadow: 0px 0px 20px -10px rgba(31, 26, 33, 0.5);
    }
}

@media (max-width: 576px) {
    .side_menu {
        font-size: 24px;
    }
    .title_menu {
        font-size: 15px;        
    }
    .credits_menu {
        font-size: 12px;
    }
}